pre this should not show if user is not signed in
button.btn.btn-default(ng-click="signOut()") Sign out


ul.nav.nav-tabs
  li Home
  li About
  
h1 TwoWeekApp
h2 Any MVP* web site or app guaranteed in 2 weeks for $2000
h4 The team
img.cirle 
img.cirle 
img.cirle 
